:root {
  --color-bg: #0c0b1d;
  --color-primary: #4e4e4e;
  --color-primary-hover: #727272;
  --color-outline: rgb(147, 104, 240);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-bottom: 0.1rem;
  font-size: inherit;
}

input::placeholder {
  color: #818cf8;
}

:focus-visible {
  outline: 2px solid var(--color-outline);
  outline-offset: 0.1rem;
}

body {
  font-family: -apple-system, 'Helvetica Neue', Helvetica, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
  font-size: 1rem;
  background: var(--color-bg);
  color: #fff;

  padding: 1rem;
  padding-top: 6rem;

  /* min-height: 100vh; */

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

section {
  margin-bottom: 0.5rem;
}

ul,
li {
  margin-bottom: 0.5rem;
  list-style: none;
}

.line-through {
  text-decoration: line-through;
}

.gray-text {
  color: #64748b !important;
}
